@font-face {
  font-family: 'morris';
  /*Woff funciona nos nvegadores Google Chrome, Firefox, Microsoft Edge, Opera e Safari são compatíveis com o formato WOFF, mas pode ser necessário atualizar seu navegador para a versão mais recente. */
  src: url('../fontes/MorristownDemoBold-VGoJZ.ttf'); 
}

@font-face {
  font-family: 'command';
  /*OTF é suportado pela maioria dos navegadores mais modernos, menos o internet explorer */
  src: url('../fontes/PILOT_COMMAND.otf');
}

@font-face {
  font-family: 'kuna';
  /*OTF é suportado pela maioria dos navegadores mais modernos, menos o internet explorer */
  src: url('../fontes/KunaKuniDemo-8MYB2.otf');
}

@font-face {
  font-family: 'beyond';
  /*OTF é suportado pela maioria dos navegadores mais modernos, menos o internet explorer */
  src: url('../fontes/BeyondMarsItalic-YzeL2.ttf');
}

@font-face {
  font-family: 'grouns';
  /*OTF é suportado pela maioria dos navegadores mais modernos, menos o internet explorer */
  src: url('../fontes/Grouns-p7rGD.otf');
}

